@page
@model WebApp.Pages.Assessors.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

<div>
    <h4>Assessor Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assessor.IsAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assessor.IsAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assessor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assessor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assessor.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assessor.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assessor.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assessor.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assessor.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assessor.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assessor.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assessor.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assessor.Team.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assessor.Team.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Assessor.AssessorId">Edit</a>
    <a class="btn btn-success" asp-page="./Index">Back to List</a>
</div>
