@page
@model WebApp.Pages.Assessors.IndexModel

@{
    ViewData["Title"] = "Assessors";
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div style="margin-top:10px;">
            <a class="btn btn-success" asp-page="./Create">Create new Assessor</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        IsAdmin
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assessor[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assessor[0].Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assessor[0].Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assessor[0].Company)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assessor[0].Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assessor[0].Team)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Assessor)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team.Name)
                    </td>
                    <td width="18%">
                        <a class="btn btn-success btn-xs" asp-page="./Edit" asp-route-id="@item.AssessorId">Edit</a>
                        <a class="btn btn-info btn-xs" asp-page="./Details" asp-route-id="@item.AssessorId">Details</a>
                        <a class="btn btn-danger btn-xs" asp-page="./Delete" asp-route-id="@item.AssessorId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
