@page
@model WebApp.Pages.Reports.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

    <h4>Report Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Aged Care Center Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.AgedCareCenterId)
        </dd>
        <dt>
           Report Date
        </dt>
        <dd>
            @Model.Report.ReportDate.ToLongDateString()
        </dd>
        <dt>
            Completion Status,%
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.CompletionStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Report.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.Notes)
        </dd>
    </dl>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Report.ReportId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
