@page
@model WebApp.Pages.Reports.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Report.AgedCareCenterId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.AgedCareCenterId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Report.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Report.CompletionStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.CompletionStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Report.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Report.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Report.ReportId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
