@page
@model WebApp.Pages.Reports.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/_Layout.cshtml";
}


<h4>Report Edit</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Report.ReportId" />
            <div class="form-group" style="max-width:360px;">
                <label asp-for="Report.AgedCareCenterId" class="control-label">Aged Care Center</label>
                <select asp-for="Report.AgedCareCenterId" asp-items="@Model.AgedCareCenters" class="form-control"></select>
                <span asp-validation-for="Report.AgedCareCenterId" class="text-danger"></span>
            </div>
            <div class="form-group" style="max-width:360px;">
                <label asp-for="Report.AssessorId" class="control-label">Assessor</label>
                <select asp-for="Report.AssessorId" class="form-control" asp-items="@Model.Assessors"></select>
                <span asp-validation-for="Report.AssessorId" class="text-danger"></span>
            </div>
            <div class="form-group" style="max-width:360px;">
                <label asp-for="Report.ReportDate" class="control-label">Report Date</label>
                <input id="date" type="date" asp-for="Report.ReportDate" class="form-control" disabled />
                <span asp-validation-for="Report.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="max-width:360px;">
                <label asp-for="Report.Notes" class="control-label"></label>
                <textarea asp-for="Report.Notes" class="form-control" style="resize:vertical;min-height:150px;max-height:250px;"></textarea>
                <span asp-validation-for="Report.Notes" class="text-danger"></span>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                @foreach (var item in Model.AccreditationStandarts)
                {
                    var classname = "collapse";
                    @if (item.AccreditationStandartId == 1)
                    {
                        classname += "collapse in";
                    }
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading@(item.AccreditationStandartId)">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.AccreditationStandartId)" aria-expanded="true" aria-controls="collapse@(item.AccreditationStandartId)">
                                    Standard @(item.AccreditationStandartId)
                                </a>
                            </h4>
                        </div>

                        <div id="collapse@(item.AccreditationStandartId)" class="panel-collapse @(classname)" role="tabpanel" aria-labelledby="heading@(item.AccreditationStandartId)">
                            <div class="panel-body">
                                @foreach (var question in item.Questions)
                                {
                                    <label class="control-label">@question.Title</label> <br />
                                    <label class="control-label" style="font-weight:400;">@question.Notes</label>

                                    <input type="checkbox" asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.Response" style="display:block;margin-bottom:5px;" />
                                    <input asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.Notes" class="form-control" />
                                    <input asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.QuestionId" class="form-control" type="hidden" />
                                    <input asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.QuestionReplyId" class="form-control" type="hidden" />
                                    <input asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.ReportId" class="form-control" type="hidden" />
                                }


                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
