@page
@model WebApp.Pages.Reports.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/_Layout.cshtml";
}
<style>
    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        padding: 6px 12px;
        cursor: pointer;
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 14px;
        font-weight: normal;
    }
</style>
<h4>Report Edit</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Report.ReportId" />
            <div class="form-group" style="max-width:360px;">
                <label asp-for="Report.AgedCareCenterId" class="control-label">Aged Care Center</label>
                <select asp-for="Report.AgedCareCenterId" asp-items="@Model.AgedCareCenters" class="form-control"></select>
                <span asp-validation-for="Report.AgedCareCenterId" class="text-danger"></span>
            </div>
            <div class="form-group" style="max-width:360px;">
                <label asp-for="Assessor.Name" class="control-label">Assessor</label>
                <input asp-for="Assessor.Name" class="form-control" disabled />
            </div>
            <div class="form-group" style="max-width:360px;">
                <label asp-for="Report.ReportDate" class="control-label">Report Date</label>
                <input id="date" type="date" asp-for="Report.ReportDate" class="form-control" disabled />
            </div>
            <div class="form-group" style="max-width:360px;">
                <label asp-for="Report.Notes" class="control-label"></label>
                <textarea asp-for="Report.Notes" class="form-control" style="resize:vertical;min-height:150px;max-height:250px;"></textarea>
                <span asp-validation-for="Report.Notes" class="text-danger"></span>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                @foreach (var item in Model.AccreditationStandarts)
                {
                    var classname = "collapse";
                    @if (item.AccreditationStandartId == 1)
                    {
                        classname += "collapse in";
                    }
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading@(item.AccreditationStandartId)">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.AccreditationStandartId)" aria-expanded="true" aria-controls="collapse@(item.AccreditationStandartId)">
                                    Standard @(item.AccreditationStandartId)
                                </a>
                            </h4>
                        </div>

                        <div id="collapse@(item.AccreditationStandartId)" class="panel-collapse @(classname)" role="tabpanel" aria-labelledby="heading@(item.AccreditationStandartId)">
                            <div class="panel-body">
                                @foreach (var question in item.Questions)
                                {
                                    <label class="control-label">@question.Title</label> <br />
                                    <label class="control-label" style="font-weight:400;">@question.Notes</label>


                                    <input asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.Notes" class="form-control" />
                                    <input type="checkbox" asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.Response" style="display:block;margin-bottom:5px;" />
                                    <input asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.QuestionId" class="form-control" type="hidden" />
                                    <input asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.QuestionReplyId" class="form-control" type="hidden" />
                                    <input asp-for="@Model.QuestionReplyList[question.QuestionId].Reply.ReportId" class="form-control" type="hidden" />

                                    <label for="file-upload@(Model.QuestionReplyList[question.QuestionId].Reply.QuestionReplyId)" class="custom-file-upload" style="margin-top:15px;">
                                        <i class="fa fa-cloud-upload"></i> Attach image
                                    </label>
                                    <input id="file-upload@(Model.QuestionReplyList[question.QuestionId].Reply.QuestionReplyId)" type="file" name="@(Model.QuestionReplyList[question.QuestionId].Reply.QuestionReplyId)" accept=".png, .jpg, .jpeg" onchange="loadFile(event,'@(Model.QuestionReplyList[question.QuestionId].Reply.QuestionReplyId)')" />
                                    if (Model.QuestionReplyList[question.QuestionId].Reply.ReportImage != null)
                                    {
                                        <img style="height: 70px;" id="output@(Model.QuestionReplyList[question.QuestionId].Reply.QuestionReplyId)" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.QuestionReplyList[question.QuestionId].Reply.ReportImage))" />
                                    }
                                    else
                                    {
                                        <img style="height: 70px;" id="output@(Model.QuestionReplyList[question.QuestionId].Reply.QuestionReplyId)" />
                                    }

                                    <hr />
                                }


                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    var loadFile = function (event, id) {
        var output = document.getElementById('output' + id);
        output.src = URL.createObjectURL(event.target.files[0]);

    };
</script>