@page
@model WebApp.Pages.Reports.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin-top:10px;">

                <a class="btn btn-success" asp-page="./Create">Create new Report</a>
            </div>

        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Aged Care Center
                    </th>
                    <th>
                        Assessor
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Completion Status, %
                    </th>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reports)
                {

                    <tr>
                        <td width="15%">
                            @("Report #" + item.ReportId)
                        </td>
                        <td width="20%">
                            @item.AgedCareCenter.Name
                        </td>
                        <td>
                            @item.Assessor.Name
                        </td>
                        <td width="15%">
                            @item.ReportDate.ToLongDateString()
                        </td>
                        <td width="10%">
                            @item.CompletionStatus
                        </td>

                        <td width="22%">
                            <a class="btn btn-info btn-xs" asp-page="./Export" asp-route-id="@item.ReportId">Export</a>
                            <a class="btn btn-info btn-xs" asp-page="./Details" asp-route-id="@item.ReportId">Details</a>
                            @if (Model.CanModify(item))
                            {
                                <a class="btn btn-success btn-xs" asp-page="./Edit" asp-route-id="@item.ReportId">Edit</a>
                                <a class="btn btn-danger btn-xs" asp-page="./Delete" asp-route-id="@item.ReportId">Delete</a>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


