@page
@model WebApp.Pages.Reports.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<p>
    <div style="margin-top:10px;margin-bottom:10px;">

        <a class="btn btn-success" asp-page="./Create">Create new Report</a>

    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Aged Care Center
            </th>
            <th>
                Report Date
            </th>
            <th>
                Completion Status
            </th>
            @*<th>
                Notes
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Report)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AgedCareCenterId)
                </td>
                <td>
                    @item.ReportDate.ToLongDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionStatus)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>*@
                <td>
                    <a class="btn btn-info btn-xs" asp-page="./Export" asp-route-id="@item.ReportId">Details</a>
                    <a class="btn btn-success btn-xs" asp-page="./Edit" asp-route-id="@item.ReportId">Edit</a>
                    @*<a class="btn btn-info btn-xs" asp-page="./Details" asp-route-id="@item.ReportId">Details</a>*@
                    <a class="btn btn-danger btn-xs" asp-page="./Delete" asp-route-id="@item.ReportId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
