@page
@model WebApp.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

<h4>Questions Details for Standart @Model.StandartId</h4>

<div>

    <div style="margin-top:10px;margin-bottom:10px;">

        <a class="btn btn-success" asp-page="./Create" asp-route-id="@Model.StandartId">Add new Question</a>

    </div>

    <table class="table">

        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Questions[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Questions[0].Notes)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Questions)
            {
            <tr>
                <td width="5%;">
                    @Html.DisplayFor(modelItem => item.QuestionNumber)
                </td>
                <td width="25%;">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td width="50%;">
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a class="btn btn-success btn-xs" asp-page="./Edit" asp-route-id="@item.QuestionId">Edit</a>
                    <a class="btn btn-success btn-xs" asp-page="./SubQuestions" asp-route-id="@item.QuestionId">Sub Questions</a>
                    <a class="btn btn-danger btn-xs" asp-page="./Delete" asp-route-id="@item.QuestionId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a class="btn btn-success" asp-page="/AccreditationStandarts/Index">Back to Accreditation Standarts Details</a>
</div>
