@page

@model WebApp.Pages.Questions.SubQuestionsModel

@{
    ViewData["Title"] = "Sub questions";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Sub questions for "@Model.Question.Title"</h2>

<p>
    <a class="btn btn-success" asp-page="./CreateSubQuestion" asp-route-id="@Model.ParentId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model.SubQuestions)
        {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a class="btn btn-success btn-xs" asp-page="./EditSubQuestion" asp-route-id="@item.QuestionId">Edit</a> 
                    <a class="btn btn-danger btn-xs" asp-page="./DeleteSubQuestion" asp-route-id="@item.QuestionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-success" asp-page="./Details" asp-route-id="@Model.Question.AccreditationStandartId">Back to Questions</a>
</div>
