@page
@model WebApp.Pages.AccreditationStandarts.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccreditationStandart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccreditationStandart.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccreditationStandart.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccreditationStandart.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccreditationStandart.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccreditationStandart.StandartType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccreditationStandart.StandartType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AccreditationStandart.AccreditationStandartId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
