@page
@model WebApp.Pages.AgedCareCenters.IndexModel

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div style="margin-top:10px;">
            <a class="btn btn-success" asp-page="./Create">Create new ACC</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AgedCareCenter[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AgedCareCenter[0].Location)
                    </th>
                    <th>
                        @Html.DisplayName("Contact Person 1")
                    </th>
                    <th>
                        @Html.DisplayName("Contact Email 1")
                    </th>
                    <th>
                        @Html.DisplayName("Contact Person 2")
                    </th>
                    <th>
                        @Html.DisplayName("Contact Email 2")
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AgedCareCenter)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactPerson1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactEmail1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactPerson2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactEmail2)
                        </td>

                        <td width="20%">
                            <a class="btn btn-success btn-xs" asp-page="./Edit" asp-route-id="@item.AgedCareCenterId">Edit</a>
                            <a class="btn btn-info btn-xs" asp-page="./Details" asp-route-id="@item.AgedCareCenterId">Details</a>
                            <a class="btn btn-danger btn-xs" asp-page="./Delete" asp-route-id="@item.AgedCareCenterId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
