@page
@model WebApp.Pages.AccreditationStandartDetailsModel

@{
    ViewData["Title"] = "AccreditationStandartDetails";
}

<h2>AccreditationStandartDetails</h2>

<div>
    <h4>AccreditationStandart</h4>
    <hr />
    <table>
        <tr>
            <th>Description</th>
            <th>Title</th>
            <th>Standart type</th>
            <th>Id</th>
        </tr>
        @foreach (var AccreditationStandart in Model.AccreditationStandarts)
        {
            <tr>
                <td style="width:40%;">@AccreditationStandart.Description</td>
                <td>@AccreditationStandart.Title</td>
                <td>@AccreditationStandart.StandartType.ToString()</td>
                <td>
                    <a href="AccreditationStandartEdit/@AccreditationStandart.AccreditationStandartId" data-toggle="modal" data-target="#exampleModal" data-id="@AccreditationStandart.AccreditationStandartId">Edit</a> |
                    <a asp-page="./Index">Back to List</a>
                </td>
                <td>
                    <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" />
                </td>


            </tr>
        }

    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
/**/@*<div>
        <a asp-page="./Edit" asp-route-id="@Model.AccreditationStandart.AccreditationStandartId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>*@

  /**/

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

